      /* Make the image fully responsive - regle hauteur et lageur */
    @font-face {font-family:"Tengwar Annatar Italic";
        src:url("police/tngani.eot?") format("eot"),
        url("police/tngani.woff") format("woff"),
        url("police/tngani.ttf") format("truetype"),
        url("police/tngani.svg#TengwarAnnatar-Italic") format("svg");
        font-weight:normal;font-style:normal;
    }
@font-face {
        font-family: 'partybusiness';
        src:URL('police/partybusiness.ttf');
}

@font-face {
        font-family: 'Aniron';
        src:('police/anicb__.ttf');
    }
 .container{
     background-image: url("media/bg_light.png");
     width: 100%;
 } 

#darkV{
    height:auto;
    width:100%;
    display:block;
}

#SF{
    height:auto;
    width:100%;
    display:block;
}
#SF2{
    height:auto;
    width:100%;
    display:block;
}
  #most{
     color:gray; 
  }

  #most1{
    color:gray;
  }
  #most2{
    color:gray;
  }






  #rappel{
    font-family:'Tengwar Annatar Italic';
    opacity: 0; }
    #rappel1{
        font-family:'Tengwar Annatar Italic';
        opacity: 0; }
        #rappel2{
            font-family:'Tengwar Annatar Italic';
            opacity: 0; }
            #rappel3{
                font-family:'Tengwar Annatar Italic';
                opacity: 0; }
                #rappel4{
                    font-family:'Tengwar Annatar Italic';
                    opacity: 0; }
                    #rappel5{
                        font-family:'Tengwar Annatar Italic';
                        opacity: 0; }
    

  #most:hover
  {
  color: orangered;
  text-decoration:underline orangered;    
    }
    #most1:hover
  {
  color: orangered;
  text-decoration:underline orangered;    
    }
    #most2:hover
    {
    color: orangered;
    text-decoration:underline orangered;    
      }       
#most:hover
#rappel
  {
opacity: 1;
  }
  #most:hover
  #rappel1
  {
opacity: 1;
  }
  #most1:hover
  #rappel2
  {
opacity: 1;
  }
  #most1:hover
  #rappel3
  {
opacity: 1;
  }
  #most2:hover
  #rappel4
  {
opacity: 1;
  }
  #most2:hover
  #rappel5
  {
opacity: 1;
  }
    
  
  
      .bg-navbar{
      background-color:rgb(189, 56, 8);    
    }  
    .nav-item, .navbar-brand {
        font-family: 'Aniron';
        }
               
    
    .nav-link{
        border-right: 1px solid white;

    }
     .nav-item:hover {
        text-decoration:underline white;
         
    }
    
.carousel-inner img {
width: 100%;
height: 240px;
}



   

    
#soustextstyle {
font-size:15px; 
margin-top: 5px; 
margin-left:10 px;
font-family: 'Aniron';
}

#gimli{
text-decoration:line-through orangered;


}
#puces {
    font-size:30px;
    font-family:'Tengwar Annatar Italic';
    margin-left: 12px; 
    color: orangered;
}
#puces1 {
    font-size:30px;
    font-family:'Tengwar Annatar Italic';
    margin-left: 12px; 
    color: orangered;
}

#dead {
    font-family:'partybusiness'; 
    color: orangered;
font-size:2em;
text-align: center;
text-align: center;
position:absolute;
top: 15px;
left: 20px; 
right:20px; 
}

 h5{
    font-family:'Aniron';   
}
h2, h6, h3, p{
    font-family:'partybusiness';
}
h1{
font-size:30px;
font-family:'Aniron';
margin-left: 12px;
}
div.a {
    white-space: wrap; 
    background: white;
    width: 100%; 
    height:100px;
    overflow: scroll;
    text-overflow:ellipsis;
    border: 1px solid hsl(0, 100%, 100%);
}

div.a:hover {
    overflow: scroll;
}
table
{
    width:100%;
}
td, th /* Toutes les cellules des tableaux... */

{
    
    border: 1px solid gray; /* auront une bordure de 1px */

}
#ring
{
    width:100%;
    }
#basPage
{background: goldenrod;
}

.card-body{
    background-color: black;
}

.card{
    border-width:2px;
 border-style:solid;
 border-color:black;
}

.card-text{
    font-size: 1.7em;
    color:white;
}

.card-img-top
{
opacity: 0.6;
z-index:1,
}
h2
{
color:black;
font-size:1.3em;
text-align: center;
border-radius: 10px;
background-color: rgba(255,255,255,0.6);
position:absolute;
top: 15px;
left: 20px; 
right:20px; 
}
span
{
color:orangered;
}
h6
{
color:white;
font-size:3em;
top: 220px;
left: 80px; 
right:20px; 
position: absolute;
}
.card:hover
.card-img-top
{
opacity: 1
}
.card:hover
h2
{
opacity: 0
}
.card:hover
h6
{
    color: white;
    font-size:1em;
    top: 300px;
    left:100px; 
    right:20px; 
    position: absolute;
}
